@page

@model CloudDrive.Api.Areas.Notes.Pages.IndexPage

@{
	Layout = "/Views/Shared/_Layout.cshtml";
}

<a asp-area="Notes" asp-page="/Form" asp-page-handler="Create">
	Add note
</a>

<ol>
	@foreach (var item in Model.Notes)
	{
		<li class="flex space-x-2">
			<span>
				@item.Title
			</span>

			@if (!string.IsNullOrEmpty(item.Notebook.Name))
			{
				<span style="color: @item.Notebook.Color">
					Inside the nootbook "@item.Notebook.Name"
				</span>
			}

			<a asp-area="Notes" asp-page="/Form" asp-route-handler="update" asp-route-id="@item.Id">
				Update
			</a>

			<a asp-area="Notes" asp-page="/Form" asp-route-handler="create" asp-route-id="@item.Id">
				Delete
			</a>
		</li>
	}
</ol>

@section Style {
	<style>
		#test {
			color: red;
		}
	</style>
}
